{% extends 'base.html' %}
{% block content %}
{% for i in your_orders %}
    <div class="container mt-3 mb-3 border border-2 border-light shadow">
    <h2>Order ID:{{i.order_id}}</h2>
    <h2>Total amount:{{i.amount}}</h2>
    <h2>Ordered date:{{i.ordered_date}}</h2>
    <h2>Delivery Status:{{i.delivery_status}}</h2>
        {% for j in i.products.all %}
            <div class="container">
            <img src="{{j.product.image.url}}" width="150">
            <h2>Quantity ordered:{{j.quantity}}</h2>
            <h2>Product name:{{j.product.name}}</h2>
            <h2>Price:{{j.product.price}}</h2>
            </div>
        {% endfor %}
        </div>
{% endfor %}

{% endblock %}